HTML{
	width:					100%;
	height:					100%;
}
BODY{
	position: 				fixed;
	width:					100%;
	height:					100%;
	margin:					0px 0px;
	padding: 				constant(safe-area-inset-top) constant(safe-area-inset-right) constant(safe-area-inset-bottom) constant(safe-area-inset-left);
	/* padding:				0px 0px; */
    font-family:        	"Helvetica Neue",
                        	Arial,
                        	"Hiragino Kaku Gothic ProN",
                        	"Hiragino Sans",
                        	Meiryo,
                        	sans-serif;
	font-size:				10px;
	background-color:		black;
	overflow:				hidden;
}
INPUT{
	color:					gray;
	background-color: 		transparent;
	border-top:				none;
	border-left:			none;
	border-right:			none;
	border-bottom:			1px solid lightgrey;
	outline:				none;
}

INPUT[type=radio]{
	display:	none;
}
INPUT[type=radio]:checked + label{
	border-bottom:			2px solid red;
}

TEXTAREA{
	color:					gray;
	border:					1px solid lightgrey;
	resize:					none;
}
BUTTON{
	color:					darkgray;
}
BUTTON:focus{
	outline:				none;
}

.vh-center{
	display:				flex;
	justify-content: 		center;
	align-items: 			center;
}

.not_select {
	-moz-user-select:		none;
	-webkit-user-select:	none;
	user-select: 			none;
}


#CHILD_FRAME{
	position:				absolute;
	top:					0px;
	left:					0px;
	width:					100%;	/* fitting */
	height:					100%;	/* fitting */
	/* background-color:	white; */
	background-image:		url(./images/IMG_1739.JPG);
	background-position: 	center center;
	background-size:		contain;
	background-repeat: 		no-repeat;
	padding:				0px;
	overflow:				hidden;
	z-index:				0;
}

#HEADER{
	position:				absolute;
	top:					0px;
	left:					0px;
	/* pointer-events: 		none; */
	padding-top:			0px;
	padding-bottom:			2px;
	width:					100%;
	height:					42px;
	color:					gray;
	background-color:		white;
	overflow:				visible;
	visibility: 			hidden;
}
#OPAQUESHAFT_TITLE{
	pointer-events:			none;
	float:					left;
	width:					110px;
	height:					42px;
	color:					rgb(63, 63, 63);
	/* text-shadow: 			2px 2px 2px black; */
	background-color:		transparent;
	font-size:				16px;
	padding-top:			10px;
	padding-left:			0px;
	padding-right:			0px;
}
#SEARCH_FRAME{
	pointer-events:			auto;
	float:					left;
	width:					150px;
	height:					24px;
	color:					white;
	background-color:		transparent;
	font-size:				20px;
	padding-top:			10px;
	padding-left:			0px;
	padding-right:			0px;
	border-right:			1px solid lightgrey;
}
#SIGNIN_STATUS{
	pointer-events:			auto;
	float:					right;
	width:					42px;
	height:					24px;
	color:					gray;
	background-color:		transparent;
	background-image:		url(./images/user-2.png);
	background-size:		14px;
	background-position: 	left center;
	background-repeat: 		no-repeat;
	font-size:				10px;
	padding-top:			10px;
	padding-left:			14px;
	padding-right:			0px;

}
#RANGE_STATUS{
	pointer-events:			auto;
	float:					right;
	width:					42px;
	height:					24px;
	color:					gray;
	background-color:		transparent;
	background-image:		url(./images/squares.png);
	background-size:		14px;
	background-position: 	left center;
	background-repeat: 		no-repeat;
	font-size:				10px;
	padding-top:			10px;
	padding-left:			14px;
	padding-right:			0px;

}

#TOOLBAR{
	position:				absolute;
	top:					44px;
	left:					0px;
	width:					100%;
	height:					42px;
	font-size: 				12px;
	color:					dimgray;
	background-color:		white;
	overflow:				hidden;
	opacity:				0.9;
	visibility: 			hidden;
}
#TOOLBAR2{
	width:					170px;
	height:					41px;
	float:					left;
	color:					dimgray;
	background-color:		white;
	border-right:			1px solid lightgrey;
	overflow:				visible;
}
#DAY_RULER{
	width:					0px;	/* dummy */
	height:					20px;
	float:					right;
	/* border-bottom:					1px solid red; */
	display:				flex;
	flex-direction: 		row;
	flex-wrap: 				nowrap;
	justify-content:		space-around;		
	color:					gray;
	font-weight: 			bold;
	background-color:		white;
	font-size:				11px;
	text-align:				center;
	overflow: 				hidden;
	padding:				12px 2px 2px 2px;
	margin:					1px;
	/* border-radius: 			4px; */
	-webkit-user-select: 	none;
}
#ADD_RESERVE{
	pointer-events:			auto;
	float:					right;
	width:					32px;
	height:					31px;
	color:					gray;
	background-color:		transparent;
	background-image:		url(./images/time.png);
	background-size:		14px;
	background-position: 	center center;
	background-repeat: 		no-repeat;
	font-size:				10px;
}

#ADD_CHILD{
	pointer-events:			auto;
	float:					right;
	width:					42px;
	height:					31px;
	color:					gray;
	background-color:		transparent;
	background-image:		url(./images/add.png);
	background-size:		14px;
	background-position: 	center center;
	background-repeat: 		no-repeat;
	font-size:				10px;
}
#SCHEDULE_MONTH{
	pointer-events:			auto;
	float:					right;
	width:					50px;
	height:					15px;
	padding-top:			10px;
	color:					gray;
	font-size:				12px;
}
#SCHEDULE_MONTH_PREV{
	pointer-events:			auto;
	float:					right;
	width:					26px;
	height:					31px;
	color:					gray;
	background-color:		transparent;
	background-image:		url(./images/prev.png);
	background-size:		12px;
	background-position: 	center center;
	background-repeat: 		no-repeat;
	font-size:				10px;
}
#SCHEDULE_MONTH_NEXT{
	pointer-events:			auto;
	float:					right;
	width:					26px;
	height:					31px;
	color:					gray;
	background-color:		transparent;
	background-image:		url(./images/next.png);
	background-size:		12px;
	background-position: 	center center;
	background-repeat: 		no-repeat;
	font-size:				10px;
}

#FINDER_FRAME{
	position:				absolute;
	top:					86px;
	left:					0px;
	width:					100%;
	height:					calc( 100% - 86px);
	color:					gray;
	font-size:				12px;
	opacity:				0.9;
	overflow-x;				none;
	overflow-y:				scroll;
	/* display:				flex;
	flex-wrap:				wrap;
	justify-content: 		center;
	align-items: 			center;
	align-content: 			flex-start; */
	visibility: 			hidden;
}
#FINDER_AREA{
	position:				absolute;
	top:					0px;
	left:					0px;
	width:					100%;
	height:					100%;
	color:					gray;
	/* overflow:				scroll; */
	visibility: 			hidden;
}
#FINDER_DETAIL{
	position:				absolute;
	top:					0px;
	left:					0px;
	width:					100%;
	height:					100%;
	color:					gray;
	overflow-x:				none;
	/* overflow:				scroll; */
	display:	 			none;
}

.child_header{
	font-size:				16px;
	font-weight: 			bold;
	border-bottom:			1px solid lightgrey;
	padding:				2px 0px 2px 0px;
}
.CHILD_NAME{
	font-weight: 			bold;
}

.PALLETE_CHILD{
	width:					180px;
	height:					144px;
	/* display:				flex;
	flex-direction: 		row;
	justify-content: 		center;
	align-items: 			center; */

	color:					gray;
	overflow-x:				none;
	background-color:		white;
	overflow: 				hidden;
	padding:				2px;
	margin:					1px;
	font-size:				12px;
	border-radius: 			4px;
	-webkit-user-select: 	none;
}
.schedule_detail{
	width:					100%;
	height:					145px;
	display:				flex;
	flex-direction: 		row;
	flex-wrap: 				nowrap;
	justify-content:		space-around;		
	/* align-items */
	color:					gray;
	background-color:		white;
	overflow: 				hidden;
	padding:				2px;
	margin:					1px;
	border-radius: 			4px;
	-webkit-user-select: 	none;
}
.schedule_unit{
	position: 				relative;
	width:					100%;
	height:					100%;
	border-left:			1px solid lightgrey;
	/* border-right:			1px solid lightgrey; */
}
.schedule_reserve_unit{
	position: 				absolute;
	top:					40px;
	left:					0px;
	width:					100%;
	height:					30px;
	font-size:				8px;
	color:					rgb(37, 37, 37);
	background-color: 		rgb(122, 236, 198);
	border-radius: 			2px;
}
.schedule_result_unit{
	position: 				absolute;
	top:					72px;
	left:					0px;
	width:					100%;
	height:					40px;
	font-size:				8px;
	color:					rgb(37, 37, 37);
	background-color: 		rgb(148, 188, 248);
	border-radius: 			2px;
}

.prev_class{
	float:					left;
	width:					32px;
	height:					100%;
	background-image:		url(./images/next.png);
	background-position: 	center center;
	background-repeat: 		no-repeat;
	background-size: 		14px;
}

.day_data{
	float:					left;
	width:					80px;
	font-size:				14px;
}
.sott_data{
	float:					left;
	width:					34px;
	font-size:				14px;
}
.eott_data{
	float:					left;
	width:					34px;
	font-size:				14px;
}
.reserve_month{
	float:					right;
	width:					40px;
	font-size:				14px;
}
.estimate_data{
	float:					left;
	width:					40px;
	color:					gray;
	font-size:				14px;
}
.remark_data{
	float:					left;
	width:					120px;
	color:					gray;
	font-size:				14px;
}
.selected{}

.onProfeel{
	background-image:		url(./images/up-arrow.png);
	background-position: 	right top;
	background-repeat: 		no-repeat;
	background-size: 		10px;
}
.offProfeel{
	background-image:		url(./images/down-arrow.png);
	background-position: 	right top;
	background-repeat: 		no-repeat;
	background-size: 		10px;
}

.selected2{
	color:				white;
	background-color:	rgb(32, 116, 243);
}
