HTML{
	width:					100%;
	height:					100%;
}
BODY{
	position: 				fixed;
	width:					100%;
	height:					100%;
	margin:					0px 0px;
	padding: 				constant(safe-area-inset-top) constant(safe-area-inset-right) constant(safe-area-inset-bottom) constant(safe-area-inset-left);
	/* padding:				0px 0px; */
    font-family:        	"Helvetica Neue",
                        	Arial,
                        	"Hiragino Kaku Gothic ProN",
                        	"Hiragino Sans",
                        	Meiryo,
                        	sans-serif;
	font-size:				10px;
	background-color:		black;
	overflow:				hidden;
}
INPUT{
	color:					gray;
	background-color: 		transparent;
	border-top:				none;
	border-left:			none;
	border-right:			none;
	border-bottom:			1px solid lightgrey;
	outline:				none;
}

INPUT[type=radio]{
	display:	none;
}
INPUT[type=radio]:checked + label{
	border-bottom:			2px solid red;
}

TEXTAREA{
	color:					gray;
	border:					1px solid lightgrey;
}
BUTTON{
	color:					darkgray;
}
BUTTON:focus{
	outline:				none;
}

.vh-center{
	display:				flex;
	justify-content: 		center;
	align-items: 			center;
}

.not_select {
	-moz-user-select:		none;
	-webkit-user-select:	none;
	user-select: 			none;
}


#CHILD_FRAME{
	position:				absolute;
	top:					0px;
	left:					0px;
	width:					100%;	/* fitting */
	height:					100%;	/* fitting */
	/* background-color:	white; */
	background-image:		url(./images/IMG_1739.JPG);
	background-position: 	center center;
	background-size:		contain;
	background-repeat: 		no-repeat;
	padding:				0px;
	overflow:				hidden;
	z-index:				0;
}

#HEADER{
	position:				absolute;
	top:					0px;
	left:					0px;
	/* pointer-events: 		none; */
	padding-top:			0px;
	padding-bottom:			2px;
	width:					100%;
	height:					42px;
	color:					gray;
	background-color:		white;
	overflow:				visible;
}
#OPAQUESHAFT_TITLE{
	pointer-events:			none;
	float:					left;
	width:					140px;
	height:					42px;
	color:					rgb(63, 63, 63);
	/* text-shadow: 			2px 2px 2px black; */
	background-color:		transparent;
	font-size:				20px;
	padding-top:			10px;
	padding-left:			0px;
	padding-right:			0px;
}
#SEARCH_FRAME{
	pointer-events:			auto;
	float:					left;
	width:					240px;
	height:					24px;
	color:					white;
	background-color:		transparent;
	font-size:				20px;
	padding-top:			10px;
	padding-left:			0px;
	padding-right:			0px;

}

#TOOLBAR{
	position:				absolute;
	top:					42px;
	left:					0px;
	width:					100%;
	height:					32px;
	color:					dimgray;
	background-color:		white;
	overflow:				visible;
	opacity:				0.9;
}
#TOOLBAR2{
	width:					262px;
	height:					100%;
	float:					left;
	color:					dimgray;
	background-color:		white;
	border-right:			1px solid lightgrey;
	overflow:				visible;
}


#FINDER_AREA{
	position:				absolute;
	top:					74px;
	left:					0px;
	width:					100%;
	height:					calc( 100% - 74px);
	color:					gray;
	font-size:				12px;
	opacity:				0.9;
	overflow:				scroll;
}

.CHILD_NAME{
	font-weight: 			bold;
}

.PALLETE_CHILD{
	width:					256px;
	height:					80px;
	/* display:				flex;
	flex-direction: 		row;
	justify-content: 		center;
	align-items: 			center; */

	color:					gray;
	background-color:		white;
	padding-top:			4px;
	margin-bottom:			1px;
	font-size:				12px;
	border-radius: 			4px;
	-webkit-user-select: 	none;
}

.prev_class{
	float:					left;
	width:					32px;
	height:					100%;
	background-image:		url(./images/prev.png);
	background-position: 	center center;
	background-repeat: 		no-repeat;
	background-size: 		14px;
}

.day_data{
	float:					left;
	width:					70px;
	color:					gray;
	font-size:				12px;
}
.estimate_data{
	float:					left;
	width:					40px;
	color:					gray;
	font-size:				12px;
}
.remark_data{
	float:					left;
	width:					120px;
	color:					gray;
	font-size:				12px;
}
.selected{
	/* color:				white;
	background-color:	rgb(32, 116, 243); */
}

.selected2{
	color:				white;
	background-color:	rgb(32, 116, 243);
}
