HTML{
	width:	100%;
	height:	100%;
}
BODY{
	width:		100%;
	height:		100%;
	margin:		0px 0px;
	padding:	0px 0px;
}
#TOOLBAR{
	padding-top:4px;
	padding-bottom:4px;
	height:40px;
	z-index:0;
}
#SIGN_STATE{
	float:right;
}

#AREA{
	position:	absolute;
	top:		42px;
	left:		0px;
	width:		100%;
	height:		200px;
	z-index:	10;
	background-color:white;
	visibility:	hidden;
}

#WHITEBOARD_FRAME{
	position:			absolute;
	z-index:			0;
	top:				42px;
	left:				0px;
	width:				100%;
	height:				100%;
	background-color:	lightgray;
}
#WHITEBOARD{
	position:			relative;
	top:				0px;
	left:				0px;
	width:				100%;
	height:				100%;
	border:				1px solid darkgrey;
	overflow:			hidden;
}

.CHILD{
	position:	absolute;
	width:				120px;
	height:				30px;
	background-color:	white;
	border-top:			1px solid lightgrey;
	border-left:		4px solid red;
	border-right:		1px solid lightgrey;
	border-bottom:		1px solid lightgrey;
	font-size:			20px;
}

.drag-and-drop {
	cursor:		move;
	position:	absolute;
	z-index:	1000;
}

.drag {
	z-index:	1001;
}
