HTML{
	width:	100%;
	height:	100%;
}
BODY{
	position: 			fixed;
	width:				100%;
	height:				100%;
	margin:				0px 0px;
	padding: 			constant(safe-area-inset-top) constant(safe-area-inset-right) constant(safe-area-inset-bottom) constant(safe-area-inset-left);
	/* padding:			0px 0px; */
    font-family:        "Helvetica Neue",
                        Arial,
                        "Hiragino Kaku Gothic ProN",
                        "Hiragino Sans",
                        Meiryo,
                        sans-serif;
	font-size:			10px;
	background-color:	black;

	/* background-image:	url(./images/IMG_1739.JPG);
	background-position: center center;
	background-size: 	cover;
	background-repeat: 	no-repeat; */

	overflow:			hidden;
}

BUTTON{
	color:				black;
}
BUTTON:focus{
	outline:			none;
}

TEXTAREA{
	color:				darkgray;
	font-size:			10px;
	border-top:			none;
	border-left:		none;
	border-right:		1px solid lightgrey;
	border-bottom:		1px solid lightgrey;
	resize:				none
}
TEXTAREA:focus{
	outline:			none;
}

/*
MARK{
	background-color:	red;
}
BUTTON IMG {
	display:			block;
}
*/

INPUT{
	color:				gray;
	border-radius: 		0px;
	border-top:			none;
	border-left:		none;
	border-right:		none;
	border-bottom:		1px solid lightgrey;
}

INPUT[type=radio]{
	display:	none;
}
INPUT[type=radio]:checked + label{
	border-bottom:		2px solid red;
}
/*
INPUT[type=text]:focus{
	outline:			none;
	background-color:	transparent;
}
*/
INPUT[type=password]:focus{
	outline:			none;
	background-color:	transparent;
/*	border-bottom:		1px solid red; */
}


.circle_button{
	font-size:			16px;
	background-image:	url(./images/dry-clean.png);
	background-position: center center;
	background-size:	40px;
	background-repeat: 	no-repeat;
}

#BOTTOM_OVERLAY{
	position:			absolute;
	/* perspective:			300px; */
	top:				0px;
	left:				0px;
	width:				100%;
	height:				100%;
	background-color:	transparent;
	overflow:			hidden;
}
#BOTTOM_FRAME{
	position:			absolute;
	/* transform:			translate3d( 0, 0, -100px) rotateY(10deg); */
	top:				0px;
	left:				0px;
	width:				100%;
	height:				100%;
	/* border:				1px solid white; */
	background-color:	white;
	background-image:	url(./images/mina-2.png);
	background-position: center center;
	background-size: 	contain;
	background-repeat: 	no-repeat;
	overflow:			hidden;
}

#OPAQUESHAFT_TITLE{
	pointer-events:			auto;
	float:					left;
	width:					118px;
	height:					54px;
	color:					white;
	text-shadow: 			2px 2px 2px gray;
	background-color:		transparent;
	opacity: 				0.7;
	font-size:				16px;
	padding-top:			30px;
	padding-left:			22px;
	padding-right:			0px;
}
#NAV_START_ICON{
	position:				absolute;
	top:					-42px;		/* dummy */ 
	left:					42px;
	width:					42px;
	height:					42px;
	color:					snow;
	background-color:		red;
	background-image:		url(./images/compass.png);
	background-size:		24px;
	background-repeat:		no-repeat;
	background-position:	center center;
	font-size:				14px;
	border-radius: 			8px;
	z-index:				65001;
}
#NAV_START_ICON2{
	position:				absolute;
	top:					-42px;		/* dummy */ 
	left:					42px;
	width:					200px;		/* old 168px */
	height:					63px;		/* old 42px */
	color:					white;
	background-color:		transparent;
	padding-bottom: 		24px;
	border-top:				1px solid rgb(253, 202, 154);
	font-size:				6px;
	display: 				flex;
	justify-content:		space-evenly;
	align-items: 			center;		/* old flex-end */
	z-index:				65001;
}
#ID_NAV_TILE{
	/* position:				absolute;
	top:					0px;
	left:					0px; */
	width:					42px;
	height:					42px;
	color:					snow;
	background-color:		rgb(0, 132, 255);
	background-image:		url(./images/menu.png);
	background-size:		14px;
	background-repeat:		no-repeat;
	background-position:	center center;
/*	font-size:				14px;	*/
	/* border-radius: 			8px; */
}

#ID_NAV_ACCOUNT{
	/* position:				absolute;
	margin-top:				0px;
	top:					84px;
	left:					18px; */
	width:					40px;
	height:					40px;
	color:					snow;
	background-color:		rgb(255, 123, 0);
	background-image:		url(./images/user-2.png);
	background-size:		14px;
	background-repeat:		no-repeat;
	background-position:	center center;
	border:					1px solid rgb(255, 123, 0);
	overflow:				hidden;
}
	
#ID_NAV_CHILDFINDER{
/*	pointer-events: 		none;	*/
	/* position:				absolute;
	top:					84px;
	left:					18px; */
	width:					42px;
	height:					42px;
	color:					snow;
	background-color:		rgb(255, 123, 0);
	background-image:		url(./images/plus3.png);
	background-size:		14px;
	background-repeat:		no-repeat;
	background-position:	center center;
	/* border:					1px solid rgb(255, 123, 0); */
	margin-top:				0px;
	overflow:				hidden;
}

#ID_NAV_REPORT{
	/* position:				absolute;
	top:					84px;
	left:					0px; */
	width:					42px;
	height:					42px;
	color:					snow;
	background-color:		rgb(255, 123, 0);
	background-image:		url(./images/report.png);
	background-size:		16px;
	background-repeat:		no-repeat;
	background-position:	center center;
/*	font-size:				14px;	*/
	/* border-radius: 			8px; */
}
/*
#ID_NAV_CHILD{
	position:				absolute;
	top:					84px;
	left:					0px;
	width:					42px;
	height:					42px;
	color:					snow;
	background-color:		rgb(255, 196, 0);
	background-image:		url(./images/godzilla.png);
	background-size:		24px;
	background-repeat:		no-repeat;
	background-position:	center center;
	font-size:				14px;
	border-radius: 			8px;
}
*/

#ID_SYSMENU{
	pointer-events: 		auto;
	width:					42px;
	height:					84px;
	float:					right;
	background-color: 		transparent;
	color:					white;
	text-align:				center;
	padding:				0px;
}

#ID_MODE_FRAME{
	pointer-events: 		auto;
	width:					42px;
	height:					84px;
	/* float:					right; */
	background-color: 		transparent;
	padding:				0px;
}

#ID_MODE_CHECKIN{
	width:					38px;
	height:					38px;
	color:					snow;
	background-color:		rgb(255, 123, 0);
	text-align: center;
	border-top:				2px solid rgb(255, 123, 0);
	border-left:			2px solid rgb(255, 123, 0);
	border-right:			2px solid rgb(255, 123, 0);
	border-bottom:			2px solid rgb(255, 123, 0);
	/* background-image:		url(./images/dry-clean.png);
	background-size:		16px;
	background-repeat:		no-repeat;
	background-position:	center center; */
}

#ID_MODE_CHECKOUT{
	width:					38px;
	height:					38px;
	color:					snow;
	background-color:		limegreen;
	border-top:				2px solid limegreen;
	border-left:			2px solid limegreen;
	border-right:			2px solid limegreen;
	border-bottom:			2px solid limegreen;
	/* background-image:		url(./images/check-3.png);
	background-size:		16px;
	background-repeat:		no-repeat;
	background-position:	center center; */
}

#C_CHECKIN{
	width:					32px;
	height:					32px;
	font-size:				12px;
}

#C_CHECKOUT{
	width:					32px;
	height:					32px;
	font-size:				12px;
}

.mode_on{
	border-top:				2px solid rgb(255, 123, 0);
	border-left:			2px solid red;
	border-right:			2px solid rgb(255, 123, 0);
	border-bottom:			2px solid rgb(255, 123, 0);
	background-color:		rgb(253, 202, 154);
	background-image:		url(./images/checked-symbol.png);
	background-size:		10px;
	background-repeat:		no-repeat;
	background-position:	right center;
}

#ID_NAV_SEARCH{
	/* position:				absolute;
	top:					84px;
	left:					0px; */
	width:					42px;
	height:					42px;
	color:					snow;
	background-color:		rgb(255, 123, 0);
	background-image:		url(./images/searching.png);
	background-size:		24px;
	background-repeat:		no-repeat;
	background-position:	center center;
/*	font-size:				14px;	*/
	border-radius: 			8px;
}

#TOOLBAR{
	position:				absolute;
	top:					0px;
	left:					0px;
	pointer-events: 		none;
	padding-top:			0px;
	padding-bottom:			2px;
	width:					100%;
	height:					82px;
	color:					gray;
	background-color:		transparent;
/*	border-bottom:			1px solid lightgrey;*/
	z-index:				40000;
	overflow:				visible;
	opacity: 				1;
}
#TOOLBAR_RIGHT{
	position:				absolute;
	top:					84px;
	left:					-42px;
	width:					42px;
	height:					42px;
	pointer-events: 		auto;
	color:					gray;
	background-color:		transparent;
	text-align:				center;
	z-index:				40000;
	overflow:				visible;
	opacity: 				1;

}
#OPAQUESHAFT_NAV{
	float:					left;
	width:					42px;
	height:					84px;
	background-color:		red;
	background-image: 		url(./images/more-v.png);
	background-size:		16px;
	background-position: 	center center;
	background-repeat:		no-repeat;
	display:				none;
}
#ID_NAV{
	float: 					left;
	width:					41px;
	height:					42px;
	background-color: 		rgb(241, 241, 241);
	background-image: 		url(./images/compass.png);
	background-position: 	center center;
	background-repeat: 		no-repeat;
	background-size: 		24px;
	border-right:			1px solid darkgrey;
}
.nav_icon_blank{
	float:					left;
	width:					42px;
	height:					42px;
	background-color:		transparent;
}
.nav_icon{
	float:					left;
	width:					42px;
	height:					42px;
	background-color:		red;
}
.nav_icon2{
	float:					left;
	width:					62px;
	height:					62px;
	background-color:		red;
	border-radius: 			4px;
	margin:					1px;
}



#OPAQUESHAFT_LOGINTITLE{
	width:					100%;
	height:					30px;
	font-size:				16px;
	color:					whitesmoke;
	background-color:		gray;
	border-left:			10px solid red;
	border-bottom:			1px solid gray;
	padding-top:			13px;
}


#CHILDFINDER_OVERLAY{
	z-index:			40000;
	visibility:			hidden;
	position:			absolute;
	top:				0px;
	left:				0px;
	width:				100%;
	height:				100%;
	background-color: 	transparent;
	pointer-events: 	none;
	display:			flex;
	/* flex-direction: row-reverse; */
	justify-content: 	flex-end;	/*  flex-start,center,flex-end*/
	align-items: 		center;
	/* opacity:			0.9; */
}
#CHILDFINDER_FRAME{
	visibility:			hidden;
	width:				140px;
	height:				100%;
	padding-right:		42px;
/*	
	background-color:	rgb(241, 241, 241);
	border:				1px solid lightgrey;
*/
}
#CHILDFINDER_HEADER{
	visibility:				hidden;
	width:					100%;
	height:					84px;
	font-size:				6px;
	text-align: 			center;
	pointer-events: 		auto;
	background-color:		darkgrey;
	border-radius: 			0px;
	overflow:				hidden;

}
#CHILDFINDER_MAIN{
	pointer-events: 		auto;
	width:					100%;
	height:					0px;	/*	dummy -> fitting proc */
	visibility:				hidden;
	background-color: 		transparent;
	/* background-color:		rgb(241, 241, 241); */
	overflow:				scroll;
	border-radius: 			0px 0px 0px 0px;
}

#FOLDER_FIND_WHITEBOARD2{
	color:              	gray;
	background-color:    	transparent;
	font-size:           	12px;
	display:				flex;
	flex-wrap: 				wrap;
	justify-content: 		flex-start;
	padding:            	0px 0px 0px 0px;
	margin-bottom:       	0px;
	clear:              	both;
}


#FOLDER_FIND_CHILDREN_TABLE2{
	color:					gray;
	background-color:		transparent;
	font-size:				12px;
	display:				flex;
	flex-wrap: 				wrap;
	justify-content: 		flex-start;
	padding:        		0px 0px 0px 0px;
	margin-bottom:   		0px;
	clear:           		both;
}

#TXT_KEYWORD{
	width:					100px;
	color:					lightgrey;
	font-size:				12px;
	background-color:		transparent;
	border:					none;
}

#WHITEBOARD_DAY_FRAME{
	pointer-events: 		auto;
	width:					40px;
	height:					72px;
	text-align:				center;
	text-shadow: 			2px 2px 2px gray;
	float:					right;
	font-size:				12px;
	color:					snow;
	background-image: 		url(./images/sun.png);
	background-position: 	center center;
	background-size:		24px;
	background-repeat: 		no-repeat;
	padding-top:			12px;
	/* border-left:			1px solid darkgrey; */
	background-color: 		transparent;
	writing-mode: 			vertical-lr;		

	opacity: 				0.8;

}

#WHITEBOARD_LIST{
	clear:					both;
	margin-top:				10px;
	height:					120px;
	display:				flex;
	flex-wrap:				nowrap;
	flex-direction: 		row-reverse;
	justify-content: 		space-between;
	font-size:				14px;
	padding:				4px;
	overflow:				scroll;
	border:					0px solid gray;	
}
.whiteboard_box{
	float:					left;
	width:					80px;
	height:					80px;
	background-color: 		rgb(241, 241, 241);
	background-image:		url(./images/sun.png);
	background-position: 	center center;
	background-size:		20px;
	background-repeat: 		no-repeat;
	border:					1px solid lightgray;
	margin:					1px;
	border-radius: 			4px;
	/* font-size:				18px; */
}

#ID_REPORT{
	width:					84px;
	height:					74px;
	text-align:				center;
	float:					right;
	font-size:				14px;
	color:					snow;
	background-color: 		red;
	background-image: 		url(./images/report.png);
	background-position: 	center center;
	background-size:		24px;
	background-repeat: 		no-repeat;
	padding-top:			10px;
	/* border-left:			1px solid darkgrey; */
}
#ID_TILE{
	width:					84px;
	height:					74px;
	text-align:				center;
	float:					right;
	font-size:				14px;
	color:					snow;
	background-color: 		red;
	background-image: 		url(./images/shutter.png);
	background-position: 	center center;
	background-size:		24px;
	background-repeat: 		no-repeat;
	padding-top:			10px;
	/* border-left:			1px solid darkgrey; */
}

/* #ID_PROGRESS_COUNT{
	position:				relative;
	width:					45px;
	height:					45px;
	text-align:				center;
	float:					right;
	font-size:				10px;
	color:					snow;
	background-color: 		transparent;
	padding:				0px;
}
#ID_WHITEBOARD_CHILD_COUNT_CHECKOUT{
	position:				absolute;
	top:					12px;
	left:					9px;
	width:					30px;
	font-size:				12px;
	text-align:				center;
	text-shadow: 			2px 2px 2px black;
	transform: 				rotate(-48deg);
}
#ID_WHITEBOARD_CHILD_COUNT_PER{
	position:				absolute;
	top:					23px;
	left:					14px;
	width:					30px;
	height:					2px;
	font-size:				28px;
	text-shadow: 			2px 2px 2px black;
	background-color:		snow;
	border-radius: 			2px;
	transform: 				rotate(-48deg);
}
#ID_WHITEBOARD_CHILD_COUNT{
	position:				absolute;
	top:					22px;
	left:					21px;
	width:					30px;
	font-size:				12px;
	text-align:				center;
	text-shadow: 			2px 2px 2px black;
	transform: 				rotate(-48deg);
}
#ID_WHITEBOARD_CHILD_COUNT_ABSENT{
	position:				absolute;
	top:					36px;
	left:					2px;
	width:					20px;
	font-size:				12px;
	text-align:				center;
	text-shadow: 			2px 2px 2px black;
	transform: 				rotate(-48deg);
} */

/* #ID_PROGRESS{
	width:					80px;
	height:					76px;
	text-align:				center;
	float:					right;
	font-size:				14px;
	color:					snow;
	background-color: 		transparent;
	padding-top:			8px;
	padding-left:			4px;
} */


#SIGN_STATUS{
	width:					40px;
	height:					30px;
	text-align:				center;
	float:					right;
	font-size:				14px;
	color:					gray;
	padding-top:			12px;
	border-left:			1px solid lightgrey;
	border-right:			1px solid lightgrey;
	background-color: 		rgb(241, 241, 241);
	background-image: 		url(./images/more-v.png);
	background-size:		16px;
	background-position: 	center center;
	background-repeat:		no-repeat;
}


#ID_CHILD_DELETE{
	position:			relative;
	float: 				left;
	top:				0px;
	left:				0px;
	width:				70px;
	height:				18px;
	font-size:			10px;
	border:				1px solid lightgrey;
	background-image: 	url(./images/minus.png);
	background-position: left center;
	background-repeat: 	no-repeat;
	background-size: 	14px;
	padding-top:		2px;
}
#ID_CHILD_CHECKOUT{
	position:			relative;
	float:				left;
	top:				0px;
	left:				1px;
	width:				70px;
	height:				18px;
	font-size:			10px;
	border:				1px solid lightgray;
	background-image: 	url(./images/check-3.png);
	background-position: left center;
	background-repeat: 	no-repeat;
	background-size: 	14px;
	padding-top:		2px;
	margin-left:		1px;
}
#ID_CHILD_CHECKCLEAR{
	position:			relative;
	float:				left;
	top:				0px;
	left:				1px;
	width:				86px;
	height:				18px;
	font-size:			10px;
	border:				1px solid lightgray;
	background-image: 	url(./images/close.png);
	background-position: left center;
	background-repeat: 	no-repeat;
	background-size: 	14px;
	padding-top:		2px;
	margin-left:		1px;
}

#TIMELINE_BAY{
}


#WHITEBOARD_FRAME{
	position:			absolute;
	/* perspective:		270px; */
	/* top:				84px; */
	top:				0px;
	left:				0px;
	width:				100%;	/* fitting */
	height:				100%;	/* fitting */
	/* background-color:	white; */
	padding:			0px;
	overflow:			scroll;
	z-index:			0;
}
#WHITEBOARD_RESERVE_LEFT{
	pointer-events: 	auto;
	position: 			absolute;
	top:				0px;
	left:				-120px;
	width:				128px;
	height:				100%;			/* 600 * 12hours */
	background-color:	black;
	/* float:				left; */
	border:				0px dotted snow;
	padding:			0px 0px 0px 0px;
	visibility: 		visible;
	z-index:			3;
	opacity: 			0.7;
	transition: 		left 30ms 0ms ease;
}
#WHITEBOARD_RESERVE_LEFT:hover{
	left:				0px;
}

#WHITEBOARD_TIMELINE{
	position: 			absolute;
	top:				0px;
	left:				0px;
	width:				84px;
	height:				0px;			/* 600 * 12hours */
	float:				left;
	border-top:			0px solid red;
	border-bottom:		0px solid lightgrey;
	padding:			0px;
	z-index: 			3;
}
#WHITEBOARD{
	pointer-events: 	auto;
	position: 			absolute;
	top:				0px;
	left:				0px;
	width:				100%;
	height:				0px;			/* 600 * 12hours */
	/* float:				left; */
	border:				0px dotted snow;
	padding:			0px 0px 0px 0px;
	visibility: 		visible;
	z-index:			3;
}
/* old name is WHITEBOARD_ESCORT */
#WHITEBOARD_CHECKOUT{
	pointer-events: 	auto;
	position: 			absolute;
	top:				0px;
	left:				0px;
	width:				100%;
	height:				0px;			/* 600 * 12hours */
	/* float:				left; */
	border:				0px dotted snow;
	padding:			0px 0px 0px 0px;
	visibility: 		visible;
	z-index:			2;
}


.timeline_class{
	width:				84px;
	height:				598px;		/* 600 pixel Per Hour */
	color:				white;
	text-shadow: 		1px 1px 1px gray;
	/* background-color:	darkgray; */
	font-size:			18px;
	font-weight:		bold;
	text-align:			center;
	padding:			0px;
	border-top:			1px dashed lightgrey;
	/* border-right:		1px solid lightgrey; */
	border-bottom:		1px dashed lightgrey;
	z-index:			6000;
	opacity:			0.7;
	/* writing-mode: 		vertical-lr; */
}
.timeline1_class{
	position:			absolute;
	left:				0px;
	width:				84px;
	/* margin:				0 auto; */
	height:				84px;
	color:				snow;
	writing-mode: 		vertical-lr;
	text-shadow: 		1px 1px 1px gray;
	/* background-color:	darkgray; */
	font-size:			20px;
	/* font-weight:		bold; */
	text-align:			center;
	background-color:	transparent;
	/*border-top:		1px dashed lightgrey; */
	z-index:			6000;
	opacity:			0.9;
}
.timeline2_class{
	position:			absolute;
	left:				40%;
	width:				20%;
	margin:				0 auto;
	height:				1px;
	background-color:	transparent;
	border-top:			1px dashed lightgrey;
	z-index:			6000;
}
.timeline3_class{
	position:			absolute;
	left:				calc(100% - 84px);
	width:				84px;
	/* margin:				0 auto; */
	height:				1px;
	background-color:	transparent;
	border-top:			1px dashed lightgrey;
	z-index:			6000;
}
.timeline_15minute_class{
	position:			fixed;
	top:				0px;
	left:				calc(25% - 0px);
	width:				32px;
	/* margin:				0 auto; */
	height:				32px;
	color:				white;
	writing-mode: 		vertical-lr;
	text-shadow: 		1px 1px 1px gray;
	background-color:	#EDEDED;
	border-left:		1px dashed #CCCCCC;
	border-radius: 		2px;
	z-index:			6000;
	opacity: 			0.9;
}
.timeline_30minute_class{
	position:			fixed;
	top:				0px;
	left:				calc(50% - 0px);
	width:				32px;
	/* margin:				0 auto; */
	height:				32px;
	color:				white;
	writing-mode: 		vertical-lr;
	text-shadow: 		1px 1px 1px gray;
	background-color:	#EDEDED;
	border-left:		1px dashed #CCCCCC;
	border-radius: 		2px;
	z-index:			6000;
	opacity: 			0.9;
}
.timeline_45minute_class{
	position:			fixed;
	top:				0px;
	left:				calc(75% - 0px);
	width:				32px;
	/* margin:				0 auto; */
	height:				32px;
	color:				white;
	writing-mode: 		vertical-lr;
	text-shadow: 		1px 1px 1px gray;
	background-color:	#EDEDED;
	border-left:		1px dashed #CCCCCC;
	border-radius: 		2px;
	z-index:			6000;
	opacity: 			0.9;
}

#REPORT_FRAME{
	position:				absolute;
	top:					10000px;
	left:					0px;
	width:					calc(100% - 0px);
	height:					100%;	/* dummy fitting */
	color:					darkgray;
	background-color:		snow;
	padding:				0px;
	visibility:				hidden;
	z-index:				69999;
}
#REPORT_CONTENT_HANDLE{
	position:				absolute;
	top:					0px;
	left:					0px;
	width:					100%;
	height:					42px;
	color:					darkgray;
	/* background-image:		url(./images/down-arrow.png);
	background-size:		20px;
	background-position:	right center;
	background-repeat: 		no-repeat; */
	margin:					0px auto;
}
#REPORT_CONTENT{
	position:				absolute;
	top:					42px;
	left:					0px;
	width:					100%;
	height:					calc(100% - 42px - 42px);
	padding-top:			0px;
	border-top:				0px solid red;
	overflow:				scroll;
}
#REPORT_CONTENT_FOOTER{
	position:				absolute;
	top:					calc(100% - 42px);
	left:					0px;
	width:					100%;
	height:					42px;
	color:					darkgray;
	margin:					0px auto;
}

#REPORT{
	pointer-events: 	auto;
	position: 			absolute;
	top:				0px;
	left:				0px;
	width:				100%;
	height:				100%;
	float:				left;
	padding:			0px;
	visibility: 		hidden;
}


#STATUS{
	position:			absolute;
	top:				-100px;
	left:				0px;
	width:				100%;
	height:				38px;
	padding-top:		3px;
	padding-bottom:		3px;
	color:				gray;
	background-color:	rgb(241, 241, 241);
	font-size:			10px;
	overflow:			hidden;
}

.CHILD{
	position:			absolute;
	width:				142px;
	height:				50px; /* 40 to 50 */
	color:				gray;
	background-color:	rgb(247, 247, 247);
	padding:			0px;
	border-top:			1px solid rgb(255, 123, 0);
	border-left:		1px solid rgb(255, 123, 0);
	border-right:		1px solid rgb(255, 123, 0);
	border-bottom:		1px solid rgb(255, 123, 0);
	/* border-radius: 		8px; */
	box-shadow:			1px 1px 2px lightgrey;
	font-size:			14px;
	overflow:			visible;
	-webkit-user-select: none;
}

.PALLETE_CHILD{
	width:				140px;
	height:				34px;
	color:				gray;
	background-color:	white;
	padding-top:		4px;
	padding-left:		2px;
	margin-bottom:		1px;
	border:				1px solid lightgrey;
	/* border-left:		0px solid lightgrey;
	border-right:		1px solid lightgrey; */
	font-size:			12px;
	border-radius: 		0px;
/*	overflow:			hidden;*/
	-webkit-user-select: none;
	/* transform: 				rotate(-40deg); */

}

.CHILD_CONTEXTMENU{
	position:			absolute;
	width:				100px;
	height:				100px;
	font-size:			12px;
	color:				gray;
	background-color:	white;
	border:				1px solid lightgrey;
	padding-left:		2px;
	overflow:			hidden;
}

.CM_CHECKOUT{
	width:					100%;
	height:					20px;
	background-image:		url(./images/check-3.png);
	background-position:	left center;
	background-repeat:		no-repeat;
	background-size: 		16px;
	border-bottom:			1px solid lightgrey;
	padding-left:			20px;
	padding-top:			2px;
	padding-bottom:			2px;
	background-color:		lightblue;
}

.CM_DELETE{
	width:					100%;
	height:					20px;
	background-image:		url(./images/minus.png);
	background-position:	left center;
	background-repeat:		no-repeat;
	background-size: 		16px;
	border-bottom:			1px solid lightgrey;
	padding-left:			20px;
	padding-top:			2px;
	padding-bottom:			2px;
	background-color:		lightgreen;
}

.CM_MOVE{
	width:					100%;
	height:					20px;
	background-image:		url(./images/next.png);
	background-position:	left center;
	background-repeat:		no-repeat;
	background-size: 		16px;
	border-bottom:			1px solid lightgrey;
	padding-left:			20px;
	padding-top:			2px;
	padding-bottom:			2px;
	background-color:		gray;
}

.CM_PROPERTY{
	width:					100%;
	height:					20px;
	background-image:		url(./images/user.png);
	background-position:	left center;
	background-repeat:		no-repeat;
	background-size: 		16px;
	border-bottom:			1px solid lightgrey;
	padding-left:			20px;
	padding-top:			2px;
	padding-bottom:			2px;
	background-color:		orange;

}

#ESCORT_AREA_MARKER{
	position:			absolute;
	top:				84px;
	left:				-10px;		/*	dummy */
	width:				4px;
	height:				21px;
	background-color:	rgb(0, 132, 255);
	z-index:			4000;
}

.ESCORT_FLG{}

.CHILD_NAME{
	font-weight: 		bold;
}

.ESTIMATE_TIME{
	/* color:				rgb(44, 44, 44); */
	font-weight: 		bold;
}
/*
.CO_TIME{
	color:				rgb(24, 24, 24);
	font-style: oblique;
}
*/

#ACCOUNTS{
	position:			absolute;
	top:				20px;
	left:				500px;
	width:				80px;
	height:				18px;
	font-size:			12px;
	color:				gray;
	background-color:	white;
	text-align:			center;
	margin-top:			2px;
	border:				1px solid lightgrey;
}

#CHILDREN{
	position:			absolute;
	top:				20px;
	left:				600px;
	width:				80px;
	height:				18px;
	font-size:			12px;
	color:				gray;
	background-color:	white;
	text-align:			center;
	margin-top:			2px;
	border:				1px solid lightgrey;
}

/*
#WHITEBOARD_PALLETE_TAB_CONTAINER{
	position:			relative;
	width:				30px;
	height:				400px;
	float: 				right;
	margin:				0px;
	padding:			0px;
	font-size:			14px;
	writing-mode: 		vertical-lr;		
}

#WHITEBOARD_PALLETE_TAB{
	position:			relative;
	width:				26px;
	height:				160px;
	font-size:			14px;
	color:				snow;
	background-color:	red;
	padding-top:		14px;
	padding-left:		4px;
	writing-mode: 		vertical-lr;		
}

#WHITEBOARD_PALLETE_CONTENT_FRAME{
	position:			relative;
	top:				0px;
	left:				0px;		
	width:				167px;
	height:				100%;
	float: 				right;
	font-size:			12px;
	color:				gray;
	background-color:	rgb(241, 241, 241);
	border-bottom:		1px solid red;
	padding:			0px 0px 0px 2px;
}

#WHITEBOARD_PALLETE_CONTENT_TOOLBAR{
	position:			absolute;
	top:				1px;
	left:				0px;
	width:				167px;
	height:				23px;
	border-bottom:		1px solid lightgrey;
	overflow:			hidden;
}

#WHITEBOARD_PALLETE_CONTENT{
	position:			absolute;
	top:				0px;
	left:				0px;
	height:				0px;
	width:				167px;
	height:				90%;
	float: 				left;
	font-size:			12px;
	color:				gray;
	background-color:	rgb(241, 241, 241);
	border-bottom:		1px solid red;
	margin-top:			24px;
	padding:			0px;
	overflow-y:			scroll;
}
*/

.C_GRADE1{
	color:				lightcoral;
}
.C_GRADE2{
	color:				lightgreen;
}
.C_GRADE3{
	color:				lightblue;
}
.C_GRADE4{
	color:				lightcyan;
}
.C_GRADE5{
	color:				lightyellow;
}
.C_GRADE6{
	color:				lightseagreen;
}


#ID_GRADE1{
	float:				right;
	padding:			2px;
	color:				lightcoral;
}
#ID_GRADE2{
	float:				right;
	padding:			2px;
	color:				lightgreen;
}
#ID_GRADE3{
	float:				right;
	padding:			2px;
	color:				lightblue;
}
#ID_GRADE4{
	float:				right;
	padding:			2px;
	color:				lightcyan;
}
#ID_GRADE5{
	float:				right;
	padding:			2px;
	color:				lightyellow;
}
#ID_GRADE6{
	float:				right;
	padding:			2px;
	color:				lightseagreen;
}

#ID_SEARCH{
	position: 				absolute;
	margin-top:				0px;
	top:					84px;
	left:					0px;
	width:					42px;
	height:					42px;
	background-color: 		red;
	background-image: 		url(./images/searching.png);
	background-position: 	center center;
	background-repeat: 		no-repeat;
	background-size: 		16px;
	/* border-right:			1px solid darkgrey; */
}

#ID_CHILDREN{
	position:				absolute;
	margin-top:				0px;
	top:					126px;
	left:					0px;
	width:					42px;
	height:					42px;
	background-color: 		red;
	background-image: 		url(./images/godzilla.png);
	background-position: 	center center;
	background-repeat: 		no-repeat;
	background-size: 		16px;
}


#ID_PROGRESS{
	/*	pointer-events: 		none;	*/
		position:				absolute;
		margin-top:				0px;
		top:					214px;
		left:					18px;
		width:					38px;
		height:					38px;
		color:					snow;
		background-color:		rgb(255, 123, 0);
		padding:				2px;
		overflow:				hidden;
	}
	
#ID_TIMELINE_BAR_AREA{
	pointer-events: 		none;
	position:				absolute;
	margin-top:				0px;
	top:					256px;
	left:					18px;
	width:					6px;
	height:					162px;
	writing-mode: 			vertical-lr;		
	background-color:		lightgrey;
	color:					white;
	overflow:				hidden;
	border-radius: 			0px;
	opacity:				0.9;
}

#ID_TIMELINE_BAR{
	position:				absolute;
	margin-top:				0px;
	top:					256px;
	left:					0px;
	width:					26px;
	height:					41px;
	font-size:				10px;
	color:					white;
	background-color:		red;
	background-image:		url(images/arrow-black-triangle-up.png), url(images/arrow-black-triangle-down.png);
	background-size:		6px, 6px;
	background-position: 	top 4px right 4px , bottom 4px right 4px;
	background-repeat: 		no-repeat, no-repeat;
	border-top:				1px solid red;
	padding-left:			16px;
	margin:					0px 0px 0px 0px;
	text-align:				center;
	writing-mode: 			vertical-lr;		
}

	
#ID_PERSPECTIVE_BAR{
	position:				absolute;
	margin-top:				0px;
	top:					400px;
	left:					0px;
	width:					40px;
	height:					40px;
	font-size:				10px;
	color:					white;
	background-color:		rgb(11, 194, 41);
	background-image: 		url(./images/cube.png);
	background-size: 		22px;
	background-position:	center center;
	background-repeat: 		no-repeat;
	border-top:				1px solid black;
}

.tool_icon{
	width:					42px;
	height:					42px;
}
.not_select {
	-moz-user-select:		none;
	-webkit-user-select:	none;
	user-select: 			none;
}

.drag-and-drop {
/*	cursor:		move;*/
	position:	absolute;
	z-index:	1000;
}

.drag {
	z-index:	1001;
}

.toolbar_hidden{
	visibility:			hidden;
}
.toolbar_visible{
	visibility: 		visible;
}

.marked{
	color:				white;
	/* background-color:	rgb(32, 116, 243); */
	background-color:	rgb(0, 132, 255);
}

.selected{
	color:				white;
	background-color:	rgb(32, 116, 243);
}

.vh-center{
	display:			flex;
	justify-content: 	center;
	align-items: 		center;
}

.sheet-button{
	float:				right;
	font-size:			10px;
	width:				55px;
	height:				32px;
	color:				snow;
	background-color:	red;
	margin-right:		2px;
	text-align:			center;
	padding-top:		4px;
	border:				1px solid lightgrey;
}

.status_column{
	float:				left;
	width:				34px;
	height:				18px;
	font-size:			9px;
	text-align:			center;
	padding-top:		4px;
	margin-right:		2px;
	border-bottom:				1px solid lightgrey;	
}

.hour_frame{
	/* width:        ''; */
	height:         	20px;
	background-color:	transparent;
	border-bottom:		1px solid lightgrey;
	padding:         	2px 2px 0px 0px;
	margin-bottom:    	2px;
	clear:           	both;

}
.hour_tab{
	float:					left;
	width:					80px;
	height:					16px;
	color:					gray;
	padding:				4px 0px 0px 4px;
	border-left:			8px solid red;
}

.wink_on{
	color:					white;
	background-color:		red;
}

.wink_blue_on{
	color:					white;
	background-color:		royalblue;
}

.already_checkin{
	background-image: 		url(./images/check-3.png);
	background-size: 		10px;
	background-position: 	right bottom;
	background-repeat: 		no-repeat;
}
/*
http://kachibito.net/css/svg-circular-progress-css-animated-angle-gradient
*/

