#MODAL_OVERLAY{
	z-index:			70000;
	visibility:			hidden;
	position:			fixed;
	top:				0px;
	left:				0px;
	width:				100%;
	height:				100%;
	background-color:	rgba(170, 170, 170, 0.2);
}

#MODAL_MESSAGE_FRAME{
	width:				520px;
	height:				400px;
	background-color:	transparent;	
}

#MODAL_MESSAGE_HEADER{
	width:				520px;
	height:				29px;
	background-color:	black;
	border-bottom:		1px solid lightgray;
	border-radius: 		8px 8px 0px 0px;
	padding:			0px;
}

#MODAL_TITLE{
	float:				left;
	height:				25px;
	color:				whitesmoke;
	font-size:			12px;
	padding-top:		4px;
	padding-left:		4px;
	padding-right:		8px;
}


#MODAL_MESSAGE{
	width:				516px;
	height:				327px;
	color:				gray;
	background-color:	white;
	border-bottom:		1px solid lightgrey;
	padding:			2px;
	overflow-y:			scroll;
}

#MODAL_MESSAGE_FOOTER{
	width:				520px;
	height:				26px;
	color:				gray;
	background-color:	white;
/*	border:				1px solid lightgrey; */
	text-align:			right;
	padding-top:		2px;
	border-radius: 		0px 0px 8px 8px;

}

#MODAL_OVERLAY_TIMESELECTOR{
	z-index:			70010;
	visibility:			hidden;
	position:			fixed;
	top:				0px;
	left:				0px;
	width:				100%;
	height:				100%;
	background-color: 	transparent;
	pointer-events: 	none;
	display:			flex;
	justify-content: 	center;
	align-items: 		center;
}

#MODAL_TIMESELECTOR{
	float:				left;
	pointer-events: 	auto;
	width:				150px;
	height:				200px;
	color:				red;
	background-color:	rgb(241, 241, 241);
	opacity: 			0.8;
	font-size:			18px;
	border-radius: 		8px;
}

#MODAL_TIMESELECTOR2{
	float:				left;
	pointer-events: 	auto;
	width:				150px;
	height:				200px;
	color:				whitesmoke;
	background-color:	red;
	margin-left:		10px;
	opacity: 			0.8;
	font-size:			18px;
}

#MODAL_OVERLAY_TILE{
	z-index:			69999;
	pointer-events: 	none;
	visibility:			hidden;
	position:			fixed;
	top:				0px;
	left:				0px;
	width:				100%;
	height:				100%;
	background-color: 	transparent;
	display:			flex;
	justify-content: 	center;
	align-items: 		flex-end;
}
#MODAL_TILE1{
	float:				left;
	pointer-events: 	auto;
	width:				172px;
	height:				84px;
	text-align:			center;
	color:				red;
	background-image:	url(./images/sun.png);
	background-position: left center;
	background-size: 	30px;
	background-repeat: 	no-repeat;
	background-color:	lightgrey;
	opacity: 			0.8;
	font-size:			18px;
	margin:				2px;
	border-radius: 		20px;
}
#MODAL_TILE2{
	float:				left;
	pointer-events: 	auto;
	width:				84px;
	height:				74px;
	text-align: 		center;
	color:				snow;
	background-color:	red;
	background-image:	url(./images/user.png);
	background-position: center center;
	background-size: 	30px;
	background-repeat: 	no-repeat;
	opacity: 			0.8;
	font-size:			16px;
	padding-top:		10px;
	margin:				2px;
	border-radius: 		20px;
	/* clear:				both; */
}
#MODAL_TILE3{
	float:				left;
	/* clear:				left; */
	pointer-events: 	auto;
	width:				84px;
	height:				64px;
	text-align:			center;
	color:				snow;
	background-color:	red;
	background-image:	url(./images/shutter.png);
	background-position: center center;
	background-size: 	30px;
	background-repeat: 	no-repeat;
	opacity: 			0.9;
	font-size:			14px;
	margin:				2px;
	padding-top:		20px;
	border-radius: 		20px;
}
#MODAL_TILE4{
	float:				left;
	pointer-events: 	auto;
	width:				84px;
	height:				74px;
	text-align:			center;
	color:				snow;
	background-color:	red;
	background-image:	url(./images/upload.png);
	background-position: center center;
	background-size: 	30px;
	background-repeat: 	no-repeat;
	opacity: 			0.8;
	font-size:			16px;
	padding-top:		10px;
	margin:				2px;
	border-radius: 		20px;
}
#MODAL_TILE5{
	float:				left;
	clear:				left;
	pointer-events: 	auto;
	width:				84px;
	height:				74px;
	text-align:			center;
	color:				snow;
	background-color:	red;
	background-image:	url(./images/exit.png);
	background-position: center center;
	background-size: 	30px;
	background-repeat: 	no-repeat;
	opacity: 			0.8;
	font-size:			16px;
	padding-top:		10px;
	margin:				2px;
	border-radius: 		20px;
	/* clear:				both; */
}
#MODAL_TILE6{
	float:				left;
	/* clear:				left; */
	pointer-events: 	auto;
	width:				84px;
	height:				74px;
	text-align:			center;
	color:				snow;
	background-color:	red;
	background-image:	url(./images/eraser.png);
	background-position: center center;
	background-size: 	30px;
	background-repeat: 	no-repeat;
	opacity: 			0.8;
	font-size:			16px;
	padding-top:		10px;
	margin:				2px;
	border-radius: 		20px;
	/* clear:				both; */
}
#MODAL_TILE7{
	float:				left;
	/* clear:				left; */
	pointer-events: 	auto;
	width:				84px;
	height:				74px;
	text-align:			center;
	color:				snow;
	background-color:	red;
	background-image:	url(./images/sleep-2.png);
	background-position: center center;
	background-size: 	30px;
	background-repeat: 	no-repeat;
	opacity: 			0.8;
	font-size:			16px;
	padding-top:		10px;
	margin:				2px;
	border-radius: 		20px;
	/* clear:				both; */
}
#MODAL_TILE8{
	float:				left;
	/* clear:				left; */
	pointer-events: 	auto;
	width:				84px;
	height:				74px;
	text-align:			center;
	color:				snow;
	background-color:	red;
	background-image:	url(./images/cloud-computing.png);
	background-position: center center;
	background-size: 	30px;
	background-repeat: 	no-repeat;
	opacity: 			0.8;
	font-size:			16px;
	padding-top:		10px;
	margin:				2px;
	border-radius: 		20px;
	/* clear:				both; */
}
#MODAL_TILE9{
	float:				left;
	/* clear:				left; */
	pointer-events: 	auto;
	width:				84px;
	height:				74px;
	text-align:			center;
	color:				snow;
	background-color:	red;
	background-image:	url(./images/cancel.png);
	background-position: center center;
	background-size: 	30px;
	background-repeat: 	no-repeat;
	opacity: 			0.8;
	font-size:			16px;
	padding-top:		10px;
	margin:				2px;
	border-radius: 		20px;
	/* clear:				both; */
}
#MODAL_TILE10{
	float:				left;
	/* clear:				left; */
	pointer-events: 	auto;
	width:				84px;
	height:				74px;
	text-align:			center;
	color:				snow;
	background-color:	red;
	background-image:	url(./images/report.png);
	background-position: center center;
	background-size: 	30px;
	background-repeat: 	no-repeat;
	opacity: 			0.8;
	font-size:			16px;
	padding-top:		10px;
	margin:				2px;
	border-radius: 		20px;
	/* clear:				both; */
}
