#WORKPLACE_ICON{
    margin:0 auto;
    position:relative;
    width:160px;
    height:140px;
    overflow:hidden;
    padding-bottom:0px;
    border:0px solid lightgrey;
    transition:height 0.3s ease-in-out;
}

#WORKPLACE_TAB{
    pointer-events: all;
    position:absolute;
    top:0px;
    left:calc(100% - 42px);
    width:42px;
    height:100%;
    background-color: transparent;
    opacity: 0.8;
}
#TAB_OPAQUESHAFT{
    width:100%;
    height:64px;
    background-color:transparent;
    background-image:url(./images/opaqueshaft_icon_portrait.png);
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center center;
    visibility: hidden;
}
#TAB_CURRENT{
    width:calc(100% - 12px);
    height:96px;
    color:dimgray;
    background-color:lightgrey;
    font-size:14px;
    font-weight: bold;
    text-align: center;
    padding-left:12px;
    writing-mode: vertical-lr;
    visibility: hidden;
}

#WORKPLACE_HDR{
    width:100%;
    height:auto;
    overflow:auto;
    /* border-bottom:1px solid lightgrey; */
    text-align:center;
    padding:0px 0px 0px 0px;
    transition:height 0.3s ease-in-out;
}
#WORKPLACE_SUMMARY{
    margin:0 auto;
    width:360px;
    height:360px;
    overflow:auto;
	display:				flex;
	flex-wrap:				wrap;
	justify-content: 		center;
	align-items:            flex-start;
	align-content:          space-between;
    overflow:               auto;

}
.summary_box{
    border:1px solid lightgrey;
    border-radius: 0px;
    font-size:12px;
    color:dimgray;
    text-align: right;
    margin:4px 4px 4px 4px;
    padding:2px;
}

#WORKPLACE_TITLE{
    font-size:12px;
    padding-bottom:10px;
}
/* #WORKPLACE_SYSMENU{
    width:100%;
    height:124px;
    margin:0 auto;
    overflow:hidden;
    background-color:transparent;
    border-radius: 12px;
    transition:all 0.3s ease-in-out;
} */
#WP_SIGNIN{
    background-image:url(images/user-2.png);
    background-size:26px;
    background-repeat:no-repeat;
    background-position: center center;
}
#WP_SIGNOUT{
    background-image:url(images/exit.png);
    background-size:16px;
    background-repeat:no-repeat;
    background-position: center center;
}
#WP_WHITEBOARD{
    background-image:url(images/management.png);
    background-size:26px;
    background-repeat:no-repeat;
    background-position: center center;
}
#WP_CHILDREN{
    background-image:url(images/management.png);
    background-size:26px;
    background-repeat:no-repeat;
    background-position: center center;
}
#WP_SETTING{
    background-image:url(images/settings.png);
    background-size:16px;
    background-repeat:no-repeat;
    background-position: center center;
} 
#WORKPLACE_WHITEBOARD{
    width:100%;
    height:0px;
    overflow:hidden;
    font-size:16px;
    /* border-bottom:gray; */
    text-align:center;
    transition:all 0.7s ease-in-out;
}
#WORKPLACE_WHITEBOARD_HDR{
    margin:0 auto;
    width:400px;
    height:80px
}
#WORKPLACE_WHITEBOARD_MAIN{
    margin:0 auto;
    width:100%;         /* height is fitting */
    text-align: left;
    overflow:scroll;
} 
#WORKPLACE_WHITEBOARD_MAIN_LIST{
    width:70%;          /* height is fitting */
    height:100%;
    background-color:       transparent;
	display:				flex;
	flex-wrap:				wrap;
	justify-content: 		center;
	align-items:            flex-start;
	align-content:          space-between;
    overflow:               auto;
} 


#WP_CREATEWHITEBOARD{
    background-image:url(images/plus3.png);
    background-size:14px;
    background-repeat:no-repeat;
    background-position: center center;
}
#WP_OPENWHITEBOARD{
    background-image:url(images/document-editor.png);
    background-size:18px;
    background-repeat:no-repeat;
    background-position: center center;
}
#WP_FINDCHILDREN{
    background-image:url(images/bleach2.png);
    background-size:12px;
    background-repeat:no-repeat;
    background-position: center center;
}

#WORKPLACE_CHILDREN{
    width:100%;
    height:0px;
    overflow:hidden;
    font-size:16px;
    border-bottom:gray;
    text-align:center;
    transition:all 0.3s ease-in-out;
}
#WORKPLACE_CHILDREN_HDR{
    margin:0 auto;
    width:350px;
    height:80px;
}
#WORKPLACE_CHILDREN_MAIN{
    margin:0 auto;
    width:100%;
    background-color:transparent;
    overflow:scroll;
} 
#WORKPLACE_CHILDREN_MAIN_LIST{
    width:100%;
    background-color:       transparent;
	display:				flex;
	flex-wrap:				wrap;
	justify-content: 		center;
	align-items:            flex-start;
	align-content:          space-between;
    overflow:               auto;
} 

#WP_CREATECHILD{
    background-image:url(images/plus3.png);
    background-size:16px;
    background-repeat:no-repeat;
    background-position: center center;
}






.workplace_button{
    width:60px;
    height:80px;
    border:1px;
    border-radius:4px;
    background-color:white;
    background-image:url(images/user-2.png);
    background-size:26px;
    background-repeat:no-repeat;
    background-position: center top 10px;
}
.workplace_button_small{
    width:30px;
    height:36px;
    border:1px;
    border-radius:4px;
    background-color:white;
    background-image:url();
    background-size:26px;
    background-repeat:no-repeat;
    background-position: center top 10px;
}

.workplace_edit_button{
    width:42px;
    height:42px;
    color:snow;
    font-size:12px;
    border:1px;
    border-radius:4px;
    background-color:rgb(92, 126, 230);
    background-image:url(images/document-editor.png);
    background-size:12px;
    background-repeat:no-repeat;
    background-position: right 4px bottom 4px;
}
.workplace_delete_button{
    width:42px;
    height:42px;
    color:snow;
    font-size:12px;
    border:1px;
    border-radius:4px;
    background-color:rgb(231, 78, 78);
    background-image:url(images/minus-2.png);
    background-size:12px;
    background-repeat:no-repeat;
    background-position: right 4px bottom 4px;
}

.WP_PALLETE_CHILD{
    position:               relative;
	width:					calc( 35% - 4px );       /* 180px; */
	height:					144px;
	/* display:				flex;
	flex-direction: 		row;
	justify-content: 		center;
	align-items: 			center; */

	color:					gray;
	overflow-x:				none;
	background-color:		white;
    border:                 1px solid lightgrey;
	overflow:visible;
	padding:				2px;
	margin:					1px 1px 1px 1px;
	font-size:				12px;

    transition: all 0.3s ease-in-out;
    /* animation-name:             fadein;
    animation-duration:         3s;
    animation-iteration-count:  1; */
	/* border-radius: 			4px; */
	-webkit-user-select: 	    none;
}
.onProfeel{
	background-image:		url(./images/up-arrow.png);
	background-position: 	right 2px top 4px;
	background-repeat: 		no-repeat;
	background-size: 		10px;
}
.offProfeel{
	background-image:		url(./images/down-arrow.png);
	background-position: 	right 2px top 4px;
	background-repeat: 		no-repeat;
	background-size: 		10px;
}
.child_header{
    text-align: left;
	font-size:				16px;
	font-weight: 			bold;
    /* background-color:       #EDEDED; */
	border-bottom:			1px solid lightgrey;
	padding:				2px 0px 2px 0px;
}
.opChild{
    border-top:         1px solid lightgrey;
    background-color: transparent;
}

.left100{
    transform:    translateX(-100px);
    /* opacity: 0.8; */
}
.height320{
    height:480px;
    /* opacity: 0.8; */
}

@keyframes fadein {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
    
}

@keyframes scale-in-out {
    0% {
        transform:scale(1,1);
    }
    50% {
        transform:scale(0.95,0.95);
    }
    100% {
        transform:scale(1,1);
    }
    
}

@keyframes shift-frame {
    0% {
        transform:translateX(0px);
    }
    50% {
        transform:translateX(1000px);
    }
    100% {
        transform:translateX(0px);
    }
    
}

