#WORKPLACE_ICON{
    margin:0 auto;
    position:relative;
    width:160px;
    height:140px;
    overflow:hidden;
    padding-bottom:0px;
    border:0px solid lightgrey;
}

#WORKPLACE_TAB{
    pointer-events: all;
    position:absolute;
    top:0px;
    left:calc(100% - 42px);
    width:42px;
    height:100%;
    background-color: transparent;
}
#TAB_OPAQUESHAFT{
    width:100%;
    height:64px;
    background-color:transparent;
    background-image:url(./images/opaqueshaft_icon_portrait.png);
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center center;
    visibility: hidden;
}
#TAB_CURRENT{
    width:calc(100% - 12px);
    height:96px;
    color:dimgray;
    background-color:lightgrey;
    font-size:14px;
    font-weight: bold;
    text-align: center;
    padding-left:12px;
    writing-mode: vertical-lr;
    visibility: hidden;
}

#WORKPLACE_HDR{
    width:100%;
    overflow:auto;
    /* border-bottom:1px solid lightgrey; */
    text-align:center;
    padding:10px 0px 10px 0px;
    transition:height 0.3s ease-in-out;
}


#WORKPLACE_TITLE{
    font-size:16px;
    padding-bottom:40px;
}
#WORKPLACE_SYSMENU{
    width:100%;
    height:124px;
    margin:0 auto;
    /* padding:20px; */
    overflow:hidden;
    background-color:transparent;
    border-radius: 12px;
    transition:all 0.3s ease-in-out;
}
#WP_SIGNIN{
    background-image:url(images/user-2.png);
    background-size:26px;
    background-repeat:no-repeat;
    background-position: center top 10px;
}
#WP_SIGNOUT{
    background-image:url(images/exit.png);
    background-size:26px;
    background-repeat:no-repeat;
    background-position: center top 10px;
}
#WP_WHITEBOARD{
    background-image:url(images/management.png);
    background-size:26px;
    background-repeat:no-repeat;
    background-position: center top 10px;
}
#WP_CHILDREN{
    background-image:url(images/management.png);
    background-size:26px;
    background-repeat:no-repeat;
    background-position: center top 10px;
}
#WP_SETTING{
    background-image:url(images/settings.png);
    background-size:26px;
    background-repeat:no-repeat;
    background-position: center top 10px;
} 
#WORKPLACE_WHITEBOARD{
    width:100%;
    height:0px;
    overflow:hidden;
    font-size:16px;
    /* border-bottom:gray; */
    text-align:center;
    transition:all 0.7s ease-in-out;
}
#WORKPLACE_WHITEBOARD_HDR{
    margin:0 auto;
    width:250px;
    font-size:26px;
    padding:10px 0px 4px 0px;
    background-image: url(./images/arrow-black-triangle-down.png);
    background-size:10px;
    background-repeat: no-repeat;
    background-position: left center;
}
#WP_CREATEWHITEBOARD{
    background-image:url(images/plus3.png);
    background-size:22px;
    background-repeat:no-repeat;
    background-position: center center;
}
#WP_OPENWHITEBOARD{
    background-image:url(images/document-editor.png);
    background-size:36px;
    background-repeat:no-repeat;
    background-position: center center;
}

#WORKPLACE_CHILDREN{
    width:100%;
    height:0px;
    overflow:hidden;
    font-size:16px;
    border-bottom:gray;
    text-align:center;
    transition:all 0.3s ease-in-out;
}
/* #WORKPLACE_CHILDREN_HDR{
    margin:0 auto;
    width:250px;
    font-size:26px;
    padding:10px 0px 4px 0px;
    background-image: url(./images/arrow-black-triangle-down.png);
    background-size:10px;
    background-repeat: no-repeat;
    background-position: left center;
} */
#WORKPLACE_CHILDREN_HDR2{
    margin:0 auto;
    width:250px;
    height:100px;
}
#WORKPLACE_CHILDREN_MAIN{
    margin:0 auto;
    width:100%;
    overflow:scroll;
} 
#WORKPLACE_CHILDREN_MAIN_LIST{
    width:100%;
    background-color:       transparent;
	display:				flex;
	flex-wrap:				wrap;
	justify-content: 		center;
	align-items:            flex-start;
	align-content:          space-between;
    overflow:               auto;
} 

#WP_CREATECHILD{
    background-image:url(images/plus3.png);
    background-size:22px;
    background-repeat:no-repeat;
    background-position: center center;
}






.workplace_button{
    width:60px;
    height:80px;
    border:1px;
    border-radius:4px;
    background-color:white;
    background-image:url(images/user-2.png);
    background-size:26px;
    background-repeat:no-repeat;
    background-position: center top 10px;
}

.workplace_delete_button{
    width:60px;
    height:80px;
    border:1px;
    border-radius:4px;
    background-color:red;
    background-image:url(images/minus-2.png);
    background-size:26px;
    background-repeat:no-repeat;
    background-position: center top 10px;
}

.WP_PALLETE_CHILD{
    position:               relative;
	width:					100%;       /* 180px; */
	height:					144px;
	/* display:				flex;
	flex-direction: 		row;
	justify-content: 		center;
	align-items: 			center; */

	color:					gray;
	overflow-x:				none;
	background-color:		white;
	overflow:visible;
	padding:				2px;
	margin:					1px 1px 1px 1px;
	font-size:				12px;

    transition: all 0.3s ease-in-out;
    /* animation-name:             fadein;
    animation-duration:         3s;
    animation-iteration-count:  1; */
	/* border-radius: 			4px; */
	-webkit-user-select: 	    none;
}
.onProfeel{
	background-image:		url(./images/up-arrow.png);
	background-position: 	right 2px top 4px;
	background-repeat: 		no-repeat;
	background-size: 		10px;
}
.offProfeel{
	background-image:		url(./images/down-arrow.png);
	background-position: 	right 2px top 4px;
	background-repeat: 		no-repeat;
	background-size: 		10px;
}
.child_header{
	font-size:				16px;
	font-weight: 			bold;
    /* background-color:       #EDEDED; */
	border-bottom:			1px solid lightgrey;
	padding:				2px 0px 2px 0px;
}
.opChild{
    background-color: lightgrey;
}

.left100{
    transform:    translateX(-100px);
}

@keyframes fadein {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
    
}

