#BOTTOM_OVERLAY{
	position:				absolute;
	top:					0px;
	left:					0px;
	width:					100%;
	height:					100%;
	background-color:		lightgray;
	overflow:				scroll;     /* signin:scroll signout:hidden */
}
#BOTTOM_FRAME{
    position:				absolute;
	top:					0px;
	left:					0px;
	width:					100%;       /* signin:500% signout:100% */
	height:					100%;
	overflow:				auto;
    transition:             all 0.3s ease-in-out;
}

#WORKPLACE_HEADER{
    pointer-events:         all;
    position:               fixed;
    top:                    0px;
    left:                   0px;
    width:                  calc(100% - 48px);
    height:                 48px;
    background-color:       white;
    display:                flex;
    flex-wrap:              nowrap;
    visibility:             hidden;
    overflow:               visible;
    opacity:                1;
}
#WORKPLACE_ADMIN_TOOLS{
    pointer-events:         all;
    position:               fixed;
    top:                    48px;
    left:                   0px;
    width:                  136px;
    height:                 calc(100% - 52px);
    background-color:       #EDEDED;
    font-weight:            bold;
    padding:                0px 4px 4px 4px;
    visibility:             hidden;
    overflow:               visible;
    opacity:                1;
   
}

#WPH_OPAQUESHAFT_ADMIN{
    /* float:                  left; */
    height:                 28px;
    padding:                18px 12px 0px 18px;
    font-size:              10px;
    font-weight:            bold;
    background-image:       url(./images/homepage.png);
    background-size:        12px;
    background-repeat:      no-repeat;
    background-position:    left 4px center;

}
#WPH_DAY{
    /* float:                  left; */
    height:                 28px;
    padding:                18px 8px 0px 8px;
    font-size:              10px;
    font-weight:            bold;
}
#WPH_CHILDREN{
    /* float:                  left; */
    height:                 28px;
    padding:                18px 8px 0px 8px;
    font-size:              10px;
    font-weight:            bold;
}
#WPH_RANGE{
    /* float:                  left; */
    height:                 28px;
    padding:                18px 8px 0px 8px;
    font-size:              10px;
    font-weight:            bold;
}
#WPH_ACCOUNT{
    /* float:                  left; */
    height:                 28px;
    padding:                18px 8px 0px 8px;
    font-size:              10px;
    font-weight:            bold;
}
#WPH_SIGNOUT{
    /* float:                  left; */
    height:                 28px;
    padding:                18px 8px 0px 8px;
    font-size:              10px;
    font-weight:            bold;
}

.deselectedmenu{
    color:                  lightgrey;
    border-bottom: 2px solid white;
}
.selectedmenu{
    color:black;
    border-bottom: 2px solid black;
}
/* #WORKPLACE_BIRDSEYEVIEW{
    pointer-events:         all;
    position:               fixed;
    top:                    0px;
    left:                   calc(100% - 128px);
    width:                  80px;
    height:                 16px;
    display:                flex;
    background-color:       transparent;
    opacity:                0.8;
} */

#WORKPLACE_TAB{
    pointer-events:         all;
    position:               absolute;
    top:                    0px;
    left:                   calc(100% - 48px);
    width:                  48px;
    height:                 100%;
    background-color:       transparent;
    opacity:                0.8;
}
#TAB_OPAQUESHAFT{
    width:                  100%;
    height:                 48px;
    background-color:       #EDEDED;
    /* background-image:       url(./images/opaqueshaft_icon_portrait.png);
    background-size:        12px;
    background-repeat:      no-repeat;
    background-position:    center center; */
    visibility:             hidden;
}
.MENU_OPAQUESHAFT{
    float:                  left;
    width:                  48px;
    height:                 48px;
    background-color:       white;
    background-image:       url(./images/opaqueshaft_icon.png);
    background-size:        22px;
    background-repeat:      no-repeat;
    background-position:    center center;
}
/* #TAB_CURRENT{
    width:                  calc(100% - 12px);
    height:                 96px;
    color:                  dimgray;
    background-color:       lightgrey;
    font-size:              14px;
    font-weight:            bold;
    text-align:             center;
    padding-left:           12px;
    writing-mode:           vertical-lr;
    visibility:             hidden;
} */
#TAB_PLUS{
    width:                  calc(100%);
    height:                 48px;
    color:                  dimgray;
    background-color:       limegreen;
    background-image:       url(./images/plus3.png);
    background-size:        10px;
    background-repeat:      no-repeat;
    background-position:    center center;
    visibility:             hidden;
}
#TAB_FIND{
    width:                  calc(100%);
    height:                 48px;
    color:                  dimgray;
    background-color:       skyblue;
    background-image:       url(./images/bleach2.png);
    background-size:        10px;
    background-repeat:      no-repeat;
    background-position:    center center;
    visibility:             hidden;
}
#TAB_CURRENT2{
    width:                  calc(100% - 0px);
    height:                 128px;
    color:                  dimgray;
    background-color:       #EDEDED;
    font-size:              14px;
    font-weight:            bold;
    text-align:             center;
    padding-top:            1px;
    padding-left:           0px;
    /* writing-mode: vertical-lr; */
    display:                flex;
    flex-direction:         column;
    visibility:             hidden;
}
#TAB_OPTION{
    width:                  calc(100% - 0px);
    height:                 calc(100% - 276px);
    color:                  dimgray;
    background-color:       #EDEDED;
    font-size:              14px;
    font-weight:            bold;
    text-align:             center;
    padding-top:            1px;
    padding-left:           0px;
    overflow:               scroll;
    /* writing-mode: vertical-lr; */
    display:                flex;
    flex-direction:         column;
    visibility:             hidden;
}

#WORKPLACE_MENU{
    position:               absolute;
    top:                    0px;
    left:                   0px;
    width:                  100%;
    height:                 calc(100% - 48px);
    padding-top:            48px;
    display:                inline;
    overflow:               hidden;
    font-size:              16px;
    background-color:       white;
}

/* #WORKPLACE_ICON{
    margin:                 0 auto;
    position:               relative;
    width:                  160px;
    height:                 140px;
    overflow:               hidden;
    padding-bottom:         0px;
    border:                 0px solid lightgrey;
} */

#WORKPLACE_HDR{
    position:               relative;
    width:                  100%;
    height:                 100%;
    overflow:               auto;
    /* border-bottom:1px solid lightgrey; */
    text-align:             center;
    padding:                0px;
    /* transition:             height 0.3s ease-in-out; */
}

#WORKPLACE_SUMMARY{
    margin:                 0 auto;
    width:                  375px;    /*375px; */
    height:                 auto;
    overflow:               visible;
	display:				flex;
	flex-wrap:				wrap;
	justify-content: 		center;
	align-items:            flex-start;
	align-content:          center;
    overflow:               auto;

}
.summary_box{
    position:               relative;
    border:                 1px solid #EDEDED;
    border-radius:          0px;
    font-size:              12px;
    color:                  dimgray;
    background-color:       rgb(254, 254, 254);
    text-align:             right;
    margin:                 2px;
    padding:                2px;
    overflow:               visible;
}
.rotate1{
    /* transform-origin:       right bottom; */
    /* transition:             all 0.3s ease-in-out; */
    transform:              rotate(-90deg);
    opacity:                1;
}

#WORKPLACE_TITLE{
    font-size:12px;
    padding-bottom:10px;
}
#WP_TEST{}

#WP_EMPTY{
    /* position: relative;
    overflow: hidden;
    display:flex;
    flex-wrap:nowrap;
	justify-content:flex-start; */
	/* align-items:            flex-start;
	align-content:          center; */

}
#WP_CONTENT{}


#WP_SIGNIN{
    background-image:       url(images/user-2.png);
    background-size:        26px;
    background-repeat:      no-repeat;
    background-position:    center center;
}
#WP_SIGNOUT{
    background-image:       url(images/exit.png);
    background-size:        16px;
    background-repeat:      no-repeat;
    background-position:    center center;
}
#WP_ACCOUNT{
    background-image:       url(images/account.png);
    background-size:        20px;
    background-repeat:      no-repeat;
    background-position:    center center;
} 
#WP_SETTING{
    background-image:       url(images/settings.png);
    background-size:        16px;
    background-repeat:      no-repeat;
    background-position:    center center;
} 
#WORKPLACE_WHITEBOARD{
    position:               absolute;
    top:                    0px;
    left:                   0px;
    width:                  auto;   /* calc(100% - 48px); */
    height:                 calc(100% - 48px);
    overflow:               hidden;
    font-size:              16px;
    background-color:       #EDEDED;
    border-radius:          0px;
    padding-top:            48px;
    text-align:             center;
    /* visibility:             hidden; */
}
#WORKPLACE_WHITEBOARD_HDR{
    /* margin:                 0 auto; */
    width:                  100%;  /*540px;*/
    height:                 auto;
    background-color:       white;
}
#WORKPLACE_WHITEBOARD_HDR_TOOLBAR{
    /* margin:                 0 auto; */
    width:                  100%;  /*540px;*/
    height:                 48px;
    background-color:       white;
}
#WORKPLACE_WHITEBOARD_HDR_CALENDAR{
    /* margin:                 0 auto; */
    width:                  100%;  /*540px;*/
    height:                 auto;
    background-color:       white;
}

#WORKPLACE_WHITEBOARD_MAIN{
    margin:                 0 auto;
    width:                  100%;         /* height is fitting */
    text-align:             left;
    overflow:               scroll;
} 
#WORKPLACE_WHITEBOARD_MAIN_LIST{
    width:                  100%;          /* height is fitting */
    height:                 100%;
    background-color:       transparent;
    overflow:               auto;
} 
/* #CALENDAR_LIST{
	float:                  left;
    position:               relative;
    width:                  calc(100% - 8px);
    height:                 48px;
    background-color:       #EDEDED;
    border:                 1px solid #EDEDED;
    border-radius:          3px;
    padding:                1px;
    display:                flex;
    overflow:               scroll;
} */
#CALENDAR_DETAIL{
    /* float:                  ; */
    position:               relative;
    width:                  calc(100% - 6px);
    height:                 calc(100% - 150px);
    background-color:       #EDEDED;
    border:                 1px solid #EDEDED;
    border-radius:          3px;
    padding:                2px;
    overflow:               scroll;
}


#WP_CREATEWHITEBOARD{
    background-image:       url(images/plus3.png);
    background-size:        14px;
    background-repeat:      no-repeat;
    background-position:    center center;
}
#WP_OPENWHITEBOARD{
    background-image:       url(images/document-editor.png);
    background-size:        18px;
    background-repeat:      no-repeat;
    background-position:    center center;
}
#WP_FINDCHILDREN{
    background-image:       url(images/bleach2.png);
    background-size:        12px;
    background-repeat:      no-repeat;
    background-position:    center center;
}

#WORKPLACE_CHILDREN{
    position:               absolute;
    top:                    0px;    /* resize */
    left:                   0px;    /* resize */
    width:                  auto;   /*calc(100% - 48px); */
    height:                 calc(100% - 48px);
    overflow:               hidden;
    font-size:              16px;
    background-color:       #EDEDED;
    padding-top:            48px;
    border-radius:          0px;
    text-align:             center;
    /* visibility:             hidden; */
}
#WORKPLACE_CHILDREN_HDR{
    margin:                 0 auto;
    width:                  calc(100% - 0px);
    height:                 48px;
    background-color:       white;
}
#WORKPLACE_CHILDREN_MAIN{
    position:               relative;
    margin:                 0 auto;
    width:                  100%;
    background-color:       transparent;
    overflow:               scroll;
} 
#WORKPLACE_CHILDREN_MAIN_LIST{
    position:               relative;
    width:                  100%;
    background-color:       transparent;
	display:				flex;
	flex-wrap:				wrap;
	justify-content: 		center;
	align-items:            flex-start;
	align-content:          space-between;
    overflow:               auto;
    /* transition:             all 3s ease-in-out; */
} 

#WP_CREATECHILDREN{
    background-image:       url(images/plus3.png);
    background-size:        12px;
    background-repeat:      no-repeat;
    background-position:    center center;
}

#WORKPLACE_RANGE{
    position:               absolute;
    top:                    0px;    /* resize */
    left:                   0px;    /* resize */
    width:                  auto;   /* 100%; */
    height:                 calc(100% - 48px);
    overflow:               hidden;
    font-size:              16px;
    background-color:       #EDEDED;
    padding-top:            48px;
    text-align:             center;
    /* visibility:             hidden; */
}
#WORKPLACE_RANGE_HDR{
    margin:                 0 auto;
    width:                  calc(100%- 48px);
    height:                 48px;
    background-color:       white;
}
#WORKPLACE_RANGE_MAIN{
    margin:                 0 auto;
    width:                  100%;
    background-color:       transparent;
    overflow:               scroll;
} 
#WORKPLACE_RANGE_MAIN_LIST{
    width:                  100%;
    background-color:       transparent;
	display:				flex;
	flex-wrap:				wrap;
	justify-content: 		center;
	align-items:            flex-start;
	align-content:          space-between;
    overflow:               auto;
}

#RANGE_LIST{
	clear:					both;
	margin-top:				5px;
	height:					34px;
	background-color:		#EDEDED;
	display:				flex;
	flex-wrap:				nowrap;
	flex-direction: 		row-reverse;
    align-items:            center;
	justify-content: 		space-between;
	font-size:				14px;
	padding:				4px;
	overflow:				scroll;
	border:					0px solid gray;	
	border-radius: 			8px;
}


.range_box{
	float:					left;
	width:					80px;
	height:					24px;
	background-color: 		white;
	border:					1px solid lightgray;
	margin:					1px;
	border-radius: 			4px;
}
.range_box_lr{
    float:                  none;
	/* float:					left; */
	width:					31px;
	height:					40px;
	/* background-color: 		white; */
	border:					1px solid lightgray;
	margin:					1px 0px 0px 0px;
    padding-left:           15px;
	border-radius: 			0px;
    writing-mode: vertical-lr;
}

#WP_CREATERANGE{
    background-image:       url(images/plus3.png);
    background-size:        14px;
    background-repeat:      no-repeat;
    background-position:    center center;
}
#WP_REFRESHRANGE{
    background-image:       url(images/recycle.png);
    background-size:        14px;
    background-repeat:      no-repeat;
    background-position:    center center;
}
.edit_object{
    background-image:       url(images/document-editor.png);
    background-size:        14px;
    background-repeat:      no-repeat;
    background-position:    center center;
}
.delete_object{
    background-image:       url(images/minus-2.png);
    background-size:        14px;
    background-repeat:      no-repeat;
    background-position:    center center;
}

.range{
    position:               relative;
    width:                  calc( 50% - 4px);
    height:			        22px;
    border:			        1px solid lightgrey;
    padding:	            8px 2px 6px 2px;
    margin:			        2px;
    border-radius:	        4px;
    overflow:               visible;
    transition:             all 0.3s ease-in-out;

}

#WORKPLACE_ACCOUNT{
    position:               absolute;
    top:                    0px;    /* resize */
    left:                   0px;    /* resize */
    width:                  auto;   /* 100%; */
    height:                 calc(100% - 48px);
    overflow:               hidden;
    font-size:              16px;
    background-color:       #EDEDED;
    padding-top:            48px;
    border-bottom:          gray;
    text-align:             center;
    /* visibility:             hidden; */
}
#WORKPLACE_ACCOUNT_HDR{
    /* margin:0 auto; */
    width:                  calc(100%- 48px);
    height:                 48px;
    background-color:       white;
}
#WORKPLACE_ACCOUNT_MAIN{
    position:               relative;
    margin:                 0 auto;
    width:                  100%;
    background-color:       transparent;
    overflow:               scroll;
} 
#WORKPLACE_ACCOUNT_MAIN_LIST{
    width:100%;
    background-color:       transparent;
	display:				flex;
	flex-wrap:				wrap;
	justify-content: 		center;
	align-items:            flex-start;
	align-content:          space-between;
    overflow:               auto;
} 
#WP_FINDACCOUNT{
    background-image:       url(images/bleach2.png);
    background-size:        12px;
    background-repeat:      no-repeat;
    background-position:    center center;
}
#WP_CREATEACCOUNT{
    background-image:       url(images/plus3.png);
    background-size:        14px;
    background-repeat:      no-repeat;
    background-position:    center center;
}

#WP_REFRESHACCOUNT{
    background-image:       url(images/recycle.png);
    background-size:        14px;
    background-repeat:      no-repeat;
    background-position:    center center;
}

.add_account{
    position:               relative;
	width:			        calc( 100% - 6px );       /* 180px; */
    height:			        370px;
	font-size:		        12px;
	color:					gray;
	background-color:       white;
    border:			        1px solid lightgrey;
    padding:	            2px 2px 2px 4px;
	margin:					1px 1px 1px 1px;
    border-radius:	        4px;
    overflow:               visible;
    transition:             all 0.3s ease-in-out;
}
.account{
    position:               relative;
	width:			        calc( 100% - 6px );       /* 180px; */
    height:			        80px;
	font-size:		        12px;
	/* color:					gray; */
	/* background-color:		white; */
    border:			        1px solid lightgrey;
    padding:	            2px 2px 2px 4px;
	margin:					1px 1px 1px 1px;
    /* border-radius:	        4px; */
    overflow:               visible;
    transition:             all 0.3s ease-in-out;
}

.appendix{
    background-color:       white;
}

.workplace_button_small{
    width:                  30px;
    height:                 36px;
    border:                 1px;
    border-radius:          4px;
    background-color:       white;
    background-image:       url();
    background-size:        26px;
    background-repeat:      no-repeat;
    background-position:    center top 10px;
}

.workplace_button{
    width:                  42px;
    height:                 42px;
    color:                  dimgray;
    background-color:       white;
    color:                  snow;
    font-size:              12px;
    border:                 1px solid lightgrey;
    border-radius:          4px;

}

.workplace_commit_button{
    width:                  63px;
    height:                 42px;
    color:                  dimgray;
    background-color:       white;
    font-size:              12px;
    border:                 1px solid lightgrey;
    border-radius:          4px;
    background-image:       url(images/check-3.png);
    background-size:        10px;
    background-repeat:      no-repeat;
    background-position:    right 4px bottom 4px;
    margin:                 0px 2px;
}
.workplace_cancel_button{
    width:                  63px;
    height:                 42px;
    color:                  dimgray;
    background-color:       white;
    font-size:              12px;
    border:                 1px solid lightgrey;
    border-radius:          4px;
    background-image:       url(images/cancel-2.png);
    background-size:        10px;
    background-repeat:      no-repeat;
    background-position:    right 4px bottom 4px;
    margin:                 0px 2px;
}

.workplace_edit_button{
    width:                  40px;
    height:                 40px;
    color:                  snow;
    font-size:              12px;
    border:                 1px solid lightgrey;
    border-radius:          4px;
    background-color:       white;
    background-image:       url(images/document-editor.png);
    background-size:        12px;
    background-repeat:      no-repeat;
    background-position:    right 4px bottom 4px;
    margin:                 0px 1px;
}
.workplace_edit_button_small{
    pointer-events:         auto;
    width:                  36px;
    height:                 36px;
    color:                  dimgray;
    font-size:              12px;
    border:                 1px solid lightgrey;
    border-radius:          4px;
    background-color:       white;
    background-image:       url(images/document-editor.png);
    background-size:        12px;
    background-repeat:      no-repeat;
    background-position:    right 4px bottom 4px;
}
.workplace_delete_button{
    pointer-events:         auto;
    width:                  40px;
    height:                 40px;
    color:                  dimgray;
    font-size:              12px;
    border:                 1px solid lightgrey;
    border-radius:          4px;
    background-color:       white;
    background-image:       url(images/minus-2.png);
    background-size:        10px;
    background-repeat:      no-repeat;
    background-position:    right 4px bottom 4px;
    margin:                 0px 1px;
}
.workplace_delete_button_small{
    pointer-events:         auto;
    width:                  36px;
    height:                 36px;
    text-align:             left;
    color:                  dimgray;
    font-size:              12px;
    border:                 1px solid lightgrey;
    border-radius:          4px;
    background-color:       white;
    background-image:       url(images/minus-2.png);
    background-size:        10px;
    background-repeat:      no-repeat;
    background-position:    right 4px bottom 4px;
}
.workplace_history_button{
    pointer-events:         auto;
    width:                  40px;
    height:                 40px;
    color:                  dimgray;
    font-size:              12px;
    border:                 1px solid lightgrey;
    border-radius:          4px;
    background-color:       white;
    background-image:       url(images/link.png);
    background-size:        10px;
    background-repeat:      no-repeat;
    background-position:    right 4px bottom 4px;
    margin:                 0px 1px;
}

.workplace_history_button_small{
    pointer-events:         all;
    width:                  36px;
    height:                 36px;
    text-align:             left;
    color:                  dimgray;
    font-size:              12px;
    border:                 1px solid lightgrey;
    border-radius:          4px;
    background-color:       white;
    background-image:       url(images/link.png);
    background-size:        10px;
    background-repeat:      no-repeat;
    background-position:    right 4px bottom 4px;
}

.WP_PALLETE_CHILD{
    position:               relative;
	width:					calc( 100% - 8px );       /* 180px; */
	height:					80px;
	/* overflow-x:				none; */
    border:                 1px solid lightgrey;
	overflow:               visible;
	padding:				2px;
	margin:					1px 1px 1px 1px;
	font-size:				12px;
    transition:             all 0.3s ease-in-out;
	-webkit-user-select: 	none;
}
.add_children{
    position:               relative;
	width:					calc( 100% - 8px );       /* 180px; */
	height:					470px;
	font-size:				12px;
	color:					gray;
	overflow-x:				none;
	background-color:		white;
    border:                 1px solid lightgrey;
	overflow:               visible;
	padding:				0px;
	margin:					1px 1px 1px 1px;
    transition:             all 0.3s ease-in-out;

}
.childrenOptionArea{
    pointer-events:         auto;
    position:               absolute;
	width:					calc(80% - 4px);    /* WP_PALLETE_CHILD equal*/
	height:					470px;
	font-size:				12px;
	color:					gray;
	background-color:		white;
    border:                 1px solid lightgrey;
	overflow:               visible;
	padding:				0px;
	margin:					1px 1px 1px 1px;
}
.childrenEdit{
	width:					100%;
	height:					470px;
	font-size:				12px;
	color:					gray;
	background-color:		white;
	overflow:               visible;
	padding:				0px;
}
.childrenHistory{
	width:					100%;
	height:					200px;
	font-size:				12px;
	color:					gray;
	background-color:		white;
	overflow:               visible;
	padding:				0px;
}
.day_data{
	float:					left;
	width:					80px;
	font-size:				14px;
}
.estimate_data{
	float:					left;
	width:					40px;
	color:					gray;
	font-size:				14px;
}
.remark_data{
	float:					left;
	width:					120px;
	color:					gray;
	font-size:				14px;
}

.checked{
	background-image:		url(./images/checked-symbol.png);
	background-position: 	right 1px bottom 1px;
	background-repeat: 		no-repeat;
	background-size: 		8px;
}

.onProfeel{
	background-image:		url(./images/up-arrow.png);
	background-position: 	right 2px top 4px;
	background-repeat: 		no-repeat;
	background-size: 		10px;
}
.offProfeel{
	background-image:		url(./images/down-arrow.png);
	background-position: 	right 2px top 4px;
	background-repeat: 		no-repeat;
	background-size: 		10px;
}
.child_header{
    text-align: left;
	font-size:				16px;
	font-weight: 			bold;
    /* background-color:       #EDEDED; */
	border-bottom:			0px solid lightgrey;
	padding:				2px 0px 2px 0px;
}
.opChild{
    /* border-top:         1px solid lightgrey; */
    width:                  50px;
    background-color:       transparent;
}

.right56{
    transform:      translateX(56px);
    /* opacity: 0.8; */
}
.right100{
    transform:    translateX(50px);

}
.left40{
    transform:    translateX(-40px);
    /* opacity: 0.8; */
}
.left100{
    transform:    translateX(-50px);
    /* opacity: 0.8; */
}
.signinMotionOff{
    opacity:        0;
}
.signinMotion{
    transform:      translateX(-100px);
    opacity:        1;
}
.signoutMotionOff{
    opacity:        0;
}
.signoutMotion{
    transform:      translateX(-100px);
    opacity:        1;
}


.height320{
    height:         540px;
    /* opacity: 0.8; */
}
.height360{
    height:         580px;
    /* opacity: 0.8; */
}

.month_box{
    width:			44px;
    height:			43px;
    /* position:		absolute;
     top:			0px;
    left:			0px; */
    padding:		1px;
    border:			1px solid lightgrey;
    border-radius:	0px;
    margin:			1px 0px 0px 0px;
    /* writing-mode: vertical-lr; */
}

.calendar_detail_visible{
    position		: relative;
    width			: 100%;
    height			: auto; /*54px;*/
    margin-top 		: 1px;
    margin-bottom	: 1px;
    overflow        : hidden;
    transition		: all 0.5s ease-in-out;

}
.calendar_detail_invisible{
    display:        none;
}
.calendar_detail_visible_set{
    /* transform:translateY(0%); */
}
.calendar_detail_property{
    position:       'relative';
    width:          100%;
    height:         calc(100% - 62px);
    margin-top:     1px;
    margin-bottom:  1px;
    font-size:      10px;
    display:        none;

}
.calendar_list_children{
    height:             64px;
    border:             1px solid lightgrey;
    border-radius:      4px;
    padding:            2px;
    margin-top:         2px;
    overflow:           hidden;
}

.scaleInOut{
    animation-name:             scale-in-out;
    animation-duration:         0.3s;
    animation-iteration-count:  1;
}

@keyframes fadein {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
    
}

@keyframes scale-in-out {
    0% {
        transform:scale(1,1);
    }
    50% {
        transform:scale(0.95,0.95);
    }
    100% {
        transform:scale(1,1);
    }
    
}

@keyframes shift-frame {
    0% {
        transform:translateX(0px);
    }
    50% {
        transform:translateX(1000px);
    }
    100% {
        transform:translateX(0px);
    }
    
}

.hiding{
    animation:hiding 1s linear 0s;
    animation-fill-mode: forwards;
}
@keyframes hiding{
    0% {
        opacity: 1;
    }
    100%{
        opacity:0;
        display:none;
    }
}

.transitionWorkplace{
    --moveSize:                 100px;
    transform-origin:           top left;
    animation-name:             transitionWorkplace;
    animation-duration:         0.3s;
    animation-iteration-count:  1;
    
}
@keyframes transitionWorkplace{
    0% {
        transform:scale(1,1);
    }
    50% {
        transform:scale(0.1,0.1) translateX(100px);
    }
    100% {
        transform:scale(1,1);
    }
}
